.display {
    margin: 1rem 0;
    text-align: right;
    width: 100%;
    background-color: #2d2829;
    height: 70px;
    color: white;
    font-size: 3rem;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    border-radius: 40px;
    align-self: center;
  
    .display-text {
      padding-right: 1rem;
    }
  }
  